<h6 class="product-section-title"><%= Spree.t('properties')%></h6>
<table id="product-properties" class="table-display" data-hook>
  <tbody>
    <% uncategorized = @product.product_properties.uncategorized %>
    <% if uncategorized.any?%>
      <%= render "property_rows", properties: uncategorized, category_name: nil %>
    <% end %>

    <% @categories.each do |cat| %>
      <%= render "property_rows",
        properties: cat.product_properties.where(product_id: @product.id),
        category_name: cat.name %>
    <% end %>
  </tbody>
</table>


